header {
    font-size: 6em;
    font-family: balzano-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #7BB299;
    margin: 50px 0px;
}

section {

    background-color: #b2f9b1;

    text-align: center;

    margin-right: 12%;

    margin-left: 12%;

    height: 400px;

}

section h1 {

    font-family: museo, serif;

    font-weight: 80;

    font-style: normal;

    font-size: 3em;
}

