header{
    font-size: 5em;
    font-family: balzano-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #7BB299;
}

.header-content{
    

font-family: museo, serif;

font-weight: 100;

font-style: normal;

}