body {

    margin: 0;

}

.header {

    height: 160px;

    background-color: #b2e7ee;

    display: flex;

    align-items: center;

    justify-content: space-around;

    font-size: 40;

    font-family: forma-djr-micro, sans-serif;

    font-weight: 400;

    font-style: normal;

}
.header img {

    height: 170px;

}

.header a {

    text-decoration: none;

    color: black;

    transition: 1s;

}

.header a:hover {

    letter-spacing: 3px;

}

/* balzano font
font-family: balzano-std, sans-serif;
font-weight: 400;
font-style: normal;
*/