body {

    margin: 0;

}

.header {

    height: 140px;

    background-color: #b2e7ee;

    display: flex;

    align-items: center;

    justify-content: space-around;

    font-size: 20px;

    font-family: forma-djr-micro, sans-serif;

    font-weight: 400;

    font-style: normal;

}
.header img {

    height: 170px;

}

.header a {

    text-decoration: none;

    color: black;

    transition: 1s;

}

.header a:hover {



}

.ourmission {

    height: 250px;

    background-color: #7bb299;

    margin: 0;

    display: flex;

    justify-content: center;

    align-items: center;

}

.missionbutton {

    height: 70px;

    width: 700px;
    
    color: #b2f9b1;

    font-family: balzano-std, sans-serif;

    font-weight: 400;

    font-style: normal;

    font-size: 65px;

    text-align: center;

    border-style: solid;

    border-color: #b2f9b1;

}

.missionbutton a {

    color: #b2f9b1;

    text-decoration: none;

}

.addresswrapper {

    height: 400px;

    display: flex;

    flex-direction: row;

    justify-content: center;

    align-items: center;
    
}

.address {

    background-color: #b2f9b1;

    font-family: museo, serif;

    font-weight: 100;

    font-style: normal;

    font-size: 40px; 

    height: 241px;

    width: 600px;

    text-align: center;

}

.tablewrapper {

    height: 400px;

    display: flex;

    justify-content: center;

    align-items: center;

    margin-bottom: 80px;

}


.tablewrapper h1 {

    font-family: forma-djr-micro, sans-serif;

    font-weight: 300;

    font-style: normal;

    font-size: 45px;

    text-align: center;

    margin-right: 10px;

    margin-left: 10px;

}

.tablewrapper p {

    font-family: museo, serif;

    font-weight: 100;

    font-style: normal;

    font-size: 35px;

    text-align: center;

    margin-right: 10px;

    margin-left: 10px;

}

.daysupport {

    height: 400px;

    width: 400px; 

    background-image: url("../images/daysupport.png");

    display: flex;

    flex-direction: column;

    justify-content: flex-end;

    align-items: center;

}

.respite {

    height: 400px;

    width: 400px; 

    background-image: url("../images/respite.png");

    display: flex;

    flex-direction: column;

    justify-content: flex-end;

    align-items: center;

}

.infanttoddlercare {

    height: 400px;

    width: 400px; 

    background-image: url("../images/infanttoddlercare.png");

    display: flex;

    flex-direction: column;

    justify-content: flex-end;

    align-items: center;

}

.awardswon {

    height: 700px;

    background-color: #b2e7ee;

}

.heading {

    height: 250px;

    display: flex;

    justify-content: center;

    align-items: center;

    font-family: museo, serif;

    font-weight: 80;

    font-style: normal;

    font-size: 46px;

}

.awards {

    height: 450px;

    display: flex;

    flex-direction: row;

    justify-content: space-around;

    align-items: center;

    text-align: center;

    font-family: forma-djr-micro, sans-serif;

    font-weight: 300;

    font-style: normal;

    font-size: 30px;

    line-height: 200%;

}

.slider {

    height: 400px;

    display: flex;

    justify-content: space-around;

    align-items: center;

    background-color: #7bb299;

}



/* Footer Styles */
footer{

    background-color: #b2e7ee;

}

.footerheading {

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;
    
    text-align: center;

    color: black;

}

.footerheading h1 {

    font-size: 5em;

    font-family: balzano-std, sans-serif;

    font-weight: 400;

    font-style: normal;

}

.footerheading h3 {


    font-family: forma-djr-micro, sans-serif;

    font-weight: 300;

    font-style: normal;

}

footer .footer-sponsors {

    display: flex;

    justify-content: space-around;

    font-family: forma-djr-micro, sans-serif;

    font-weight: 300;

    font-style: normal;

    text-align: left;

    margin: 0px 70px 0px 70px;

}

footer .footer-sponsors > .columns {

    line-height: 2.2;

    margin-bottom: 50px;

}

footer .footer-sponsors > .columns ul {

    list-style-type: none;

}